doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Pug

    body

        -let username = false

        if username 
            p Bienvenido usuario
        else if username == null
            p Usuario no existe
        else
            p Registrese para continuar

        p(class= username? 'registered' : 'unregistered')

        unless username
            p Registrese para continuar
